html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 100%;
}
*,
*:after,
*:before {
  box-sizing: inherit;
}
body {
  display: flex;
  flex-direction: column;
  height: 100%;
  line-height: 24px;
}

.header {
  /* 0 flex-grow, 0 flex-shrink, auto flex-basis */
  flex: 0 0 auto;
  height: 100px;
}
.main {
  display: flex;
  /* 1 flex-grow, 0 flex-shrink, auto flex-basis */
  flex: 1 0 auto;
}
.footer {
  background-color: yellow;
  height: 150px;
  /* 0 flex-grow, 0 flex-shrink, auto flex-basis */
  flex: 0 0 auto;
}

.conteiner {
  margin: 0 auto;
  max-width: 1170px;
  padding: 0 15px;
  /* border: 1px solid red; */
}

li {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: #000;
}
/* header ================================= */
.header {
  align-items: center;
  width: 100%;
  border-top: 1px solid #2c7de8;
}
.header-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 87px;
}
/* logo ------------- */
.logo {
  width: 50px;
  height: 50px;
}
.logo-type image {
  width: 3rem;
  height: 3rem;
  color: #000;
  padding: 20px;
}
/* /logo --------------- */
/* menu ---------------- */
.menu__list {
  display: flex;
  text-align: center;
  /* margin-right: 50px; */
  margin: 0;
  padding: 0;
}
.menu__list li {
  /* border: 1px solid red; */
  padding-left: 38px;
  /* min-width: 9rem; */
}
.menu__list a {
  font-size: 0.875rem;
  color: #2f3f54;
  font-weight: 700;
  transition: 0.25s ease;
}
.menu__list a:hover {
  /* color: #0048ba; */
  text-shadow: 1px 2px 2px #d40000;
}
/* TOP============= */
.top {
  background-color: #247bee;
  padding: 150px 0 180px;
}
.top-inner {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
/* top-info --------------- */
.top-info {
  max-width: 650px;
  color: #fff;
}
.top-info__title {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 3rem;
  font-weight: 900;
  line-height: 52px;
  text-transform: uppercase;
}
.top-info__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #fff;
  border-radius: 2rem;
  width: 8rem;
  height: 3rem;
  transition: 0.15s all;
}
.top-info__btn a {
  color: #fff;
}
.top-info__btn:hover {
  box-shadow: 5px 5px 5px #2f3f54;
  cursor: pointer;
}
/* /top-info -------------- */
/* top-images ------------- */
.top-images {
  position: relative;
  padding-right: 10rem;
}
.top-images__box {
  /* display: flex; */
}
.top-images__box img {
  height: 40rem;
}
.top-images__sircle {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  color: #000;
  border-radius: 100%;
  height: 10rem;
  width: 10rem;
  font-size: 0.625rem;
  margin-top: -46rem;
  margin-left: 11rem;
}
.top-images__sircle h2 {
  font-size: 2rem;
  line-height: 0rem;
}
/* /top-images -----------*/
/* main ================================= */
/* footer ================================= */
